*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background: linear-gradient(to right, rgb(170, 8, 195),red);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 50%;
  height: 50vh;
  background-color: aliceblue;
  border-radius: 15px;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container:hover{
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.517);
}

.box{
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

input{
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: larger;
  border-radius: 8px;
  outline: none;
}

ul{
  width: 100%;
}

ul li{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: larger;
  border: solid 1px rgba(0, 0, 0, 0.055);
  padding: 10px;
}

button{
  width: 100px;
  height: 40px;
  background-color: rgba(164, 173, 176, 0.181);
  border: solid 1px rgba(0, 0, 0, 0.262);
  border-radius: 8px;
  transition: 0.6s;
}

button:hover{
  background-color: rgb(134, 25, 177);
  color: white;
}

.delete{
  background-color: red;
  width: 50px;
}